<nav class="navbar navbar-example navbar-expand-lg bg-dadan">
  <div class="container">
    <a style="color: black;" class="navbar-brand" href="javascript:void(0)">{{config->site_title}}</a>
    <button style="border: 1px solid;border-radius: 0px;padding: 10px;font-family: sans-serif;" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-ex-3" >MENU</button>

    <div class="collapse navbar-collapse" id="navbar-ex-3">
      <div class="navbar-nav me-auto">
        <a class="nav-item nav-link active" href="javascript:void(0)">Home</a>
        <a class="nav-item nav-link" href="javascript:void(0)">Tentang kami</a>
        <a class="nav-item nav-link" href="javascript:void(0)">Informasi</a>
        <a class="nav-item nav-link" href="javascript:void(0)">Kontak</a>
      </div>

      <form action="{{config->base_url}}login">
       <?php if ($GLOBALS['isLogin']): ?>
        <a style="border-radius: 0px;" class="btn btn-primary" href="{{config->base_url}}pendaftaran/dashboard">Dashboard</a>
        <?php else: ?>
          <a style="border-radius: 0px;" class="btn btn-primary" href="{{config->base_url}}login">login</a>
        <?php endif ?>
      </form>
    </div>
  </div>
</nav>
<?php if ($GLOBALS['isLogin']): ?>
  Welcome {{me->full_name}}
<?php endif ?>
<h1>{{config->site_title}}</h1>
<footer class="footer bg-light">
  <div class="container-fluid d-flex flex-md-row flex-column justify-content-between align-items-md-center gap-1 container-p-x py-3">
    <div>
      <a href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/landing/" target="_blank" class="footer-text fw-bolder">ICT</a>
      ©
    </div>
    <div>
      <a href="https://themeselection.com/license/" class="footer-link me-4" target="_blank">License</a>
      <a href="javascript:void(0)" class="footer-link me-4">Help</a>
      <a href="javascript:void(0)" class="footer-link me-4">Contact</a>
      <a href="javascript:void(0)" class="footer-link">Terms &amp; Conditions</a>
    </div>
  </div>
</footer>